h3{
    color:blue;
   
}
h1 {
    color:maroon;
}

h2{
    text-align: center;
    border: solid;
    color:darkslateblue ;
    margin:20px;
}
.fondcv{
background-color:rgba(219, 214, 216, 0);

}
li:hover{color: rgb(0, 0, 0); background-color: rgb(255, 0, 85); border: 1px solid rgb(76, 31, 201);}




#flex{
display : flex;
align-items: center;
padding: 50px;

}
#bloc2{
    height: auto;
    background-color: rgb(97, 97, 182);

}
