
@media (min-width:640px){
h3{
    color:blue;
   
}
h1 {
    color:maroon;
}

h2{
    text-align: center;
    border: solid;
    color:darkslateblue ;
    margin:20px;
}

.p_profil {padding-left: 20px;}
.fondcv{
background-color:rgba(238, 230, 233, 0);

}
li:hover{color: rgb(0, 0, 0); background-color: rgb(255, 0, 85); border: 1px solid rgb(76, 31, 201);}




#flex{
display : flex;
align-items: center;
padding: 0px;


}
#bloc2{
    height: auto;
    background-color: rgb(98, 159, 216);

}
#bloc1{
    background-color: rgb(238, 96, 226);
}
}
@media (max-width: 639px) {
	* {
		box-sizing: border-box;
	}
	.parents {flex-direction: column;}
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */


#bloc2{
    height: auto;
    background-color: rgb(98, 159, 216);

}
#bloc1{
    background-color: rgb(238, 96, 226);
}

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.bloc1,
	.bloc2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
	
	/* Un message personnalisé */

	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
}


